<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sale app</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}"
          rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">E-CommerceAPP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="/?category_id={{c.id}} ">{{ c }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search" name="key">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
</nav>
<section class="container">
    {% if products %}
    <div class="row">
        {% for p in products %}
        <div class="col-md-3 p-2">
            <div class="card">
                <img class="card-img-top" src="{{p.image}}" alt="{{ p.name }}">
                <div class="card-body">
                    <h4 class="card-title">{{ p.name }}</h4>
                    <p class="card-text">{{ p.price }} VNĐ</p>
                    <a href="#" class="btn btn-primary " data-bs-toggle="tooltip" title="Đừng ấn vào!">Chi tiết</a>
                    <button class="btn btn-danger" data-bs-toggle="tooltip" title="Yayyyy!">Đặt hàng</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-warning">
        KHÔNG CÓ SẢN PHẨM NÀO
    </div>
    {% endif %}
</section>
</body>
<script>
    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>&copy; E-Commerce app</h1>
    <p>Canh Huynh</p>
</div>
</html>