{% extends 'layout/base.html' %}
{% block content %}
<section class="container">
    {% if products %}
    <div class="row">
        {% for p in products %}
        <div class="col-md-3 p-2">
            <div class="card">
                <img class="card-img-top" src="{{p.image}}" alt="{{ p.name }}">
                <div class="card-body">
                    <h4 class="card-title">{{ p.name }}</h4>
                    <p class="card-text">{{ p.price }} VNĐ</p>
                    <a href="#" class="btn btn-primary " data-bs-toggle="tooltip" title="Đừng ấn vào!">Chi tiết</a>
                    <button class="btn btn-danger" data-bs-toggle="tooltip" title="Yayyyy!">Đặt hàng</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-warning">
        KHÔNG CÓ SẢN PHẨM NÀO
    </div>
    {% endif %}
</section>
{% endblock %}

